/* -------------------- BODY -------------------- */
body {
    margin: 20px;
    background: linear-gradient(90deg, #8a2be2, #4b79d8, #3aaed8);
    font-family: "Segoe UI", Arial, sans-serif;
}

/* -------------------- HEADER -------------------- */
header {
    margin: 10px;
    border: solid 2px black;
    background: linear-gradient(90deg, #10336A, #1D5BA8);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: 80px;
}

header h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 28px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

nav input {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

nav button {
    padding: 8px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.obra {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 30px;
}

.imagen-contenedor {
    width: 1024px;
    height: 330px;
}

.imagen-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.descripcion {
    background: linear-gradient(90deg, #11356F, #0B2240);
    padding: 25px;
    width: 700px;
    border: 2px solid black;
    color: white;
    border-radius: 5px;
}

.descripcion h2 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 32px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btns button {
    width: 120px;
    padding: 10px 0;
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

/* -------------------- FOOTER -------------------- */
footer {
    border: solid 2px black;
    padding: 20px;
    background: linear-gradient(90deg, #10336A, #1D5BA8);
    color: white;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 5px 0;
}
